/* Describe header here */

header {
  height: 25vh;
  padding: 20px 0 0 20px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: 'Poiret One', cursive;
  h1 {
  color: white;
  margin: 0;
  }
  span {
    color: silver;
  }
}
