/* Describe header here */
header {
  height: 10vh;

  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Poiret One', cursive;
  @media (min-width: 1024px) {

    height: 60px;
    background-image: none;
    background-color: rgba(1.2, 5.5, 1.2, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  h1 {
    color: white;
    margin: 0;
    align-self: center;
    @media (min-width: 1024px) {
      margin-left: 20px;
    }
  }

  span {
    display: block;
    color: whitesmoke;
    font-weight: 600;
    @media (min-width: 1024px) {
      margin-right: 20px;

    }
  }
}
