/* Add function, animations, placeholders, mixins and  general declarations*/

* {
  box-sizing: border-box;
}
body{
  background-color: $colorOfBackground;
  width: 100vw;
  height: 100vh;
  @media (min-width: 1024px) {
    background-image: url("../images/background.jpg");

    background-position: center;
    background-repeat: no-repeat;
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.invisibleFilters{
  @media (max-width: 768px) {
    display: none;
    visibility: hidden;
    height: 0;
  }
}

.invisibleForm{
    display: none;
    visibility: hidden;
    height: 0;
}


